@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c2c2c;
  color: #fdfdfd;
  padding: 10px;
}

nav {
  display: flex;
}

nav div {
  margin: 0 2rem;
  text-align: center;
}

nav button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav button.grayed-out {
  filter: grayscale(100%);
  opacity: 0.5;
}

nav img {
  width: 55px;
  border-radius: 50%;
  margin-bottom: 5px;
}

nav p {
  margin: 0;
  font-size: 11px;
}

aside {
  color: #fdfdfd;
  margin-right: 10px;
}

button {
  background: #888;
  color: #fdfdfd;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #555;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}

#cinema-list-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 25%;
  width: fit-content;
  height: 90vh;
  overflow-y: auto;
  background: rgba(44, 44, 44, 0.85);
  color: #fdfdfd;
  padding: 1rem;
  box-sizing: border-box;
}

#cinema-list-container::-webkit-scrollbar {
  width: 15px;
}

#cinema-list-container::-webkit-scrollbar-track {
  background: #fdfdfd;
}

#cinema-list-container::-webkit-scrollbar-thumb {
  background: #888;
}

#cinema-list-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#cinema-list-container ul {
  padding: 0;
}

#cinema-list-container li {
  background: #333;
  color: #fdfdfd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  list-style-type: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

#cinema-list-container li:hover {
  background: #232323;
}

#map {
  height: 90vh;
  width: 100%;
}

h1 {
  color: #fdfdfd;
}

#popup {
  background: #edf5e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

#popup-content {
  height: fit-content;
  padding: 10px;
}

#popup-content button {
  background: #77af25;
}

#popup-content button:hover {
  background: #578512;
}

.pointer {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 18px solid #edf5e1;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
}
